@model VendorModel.Vendor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create Vendor</title>
</head>
<body>
    <h1>Create Vendor</h1>
    <form controller="Vendors" action="Create" method="post">
        <div>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" required>
        </div>
        <div>
            <label for="Description">Description:</label>
            <input type="text" id="Description" name="Description" required>
        </div>
        <div>
            <button type="submit">Create Vendor</button>
        </div>
    </form>
</body>
</html>
