@model List<VendorModel.Vendor>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] Vendor List</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <ul>
        @foreach (var vendor in Model)
        {
            <li>
                <a href="/vendors/@vendor.Id">@vendor.Name</a> - Vendor Description: @vendor.Description
                <a href="/vendors/@vendor.Id/createorder">Add Order</a>
            </li>
        }
    </ul>
    <a href="/Vendors/Create">Add a new Vendor</a>
    <br>
    <a href="/">Home</a>
</body>
</html>
